.char-card {
	text-align: center;
	border: 2px black solid;
	margin: 0.5rem;
}

.char-level-class {
	display: flex;
	justify-content: space-evenly;
}

.char-list {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr;
}
