.char-card {
	text-align: center;
	border: 2px black solid;
	margin: 0.5rem;
	border-radius: 5%;
}

a {
	text-decoration: none;
}

a:visited {
	color: black;
}

a:hover {
	color: red !important;
	text-decoration: none;
}
.char-level-class {
	display: flex;
	justify-content: space-evenly;
}

.char-list {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr;
}

.char h1 {
	text-align: center;
}

.char-info {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
	text-align: center;
	font-size: 1rem;
}

.att h2 {
	text-align: center;
	width: 100%;
}

.att-values {
	font-size: 1.5rem;
	display: flex;
	justify-content: space-around;
}

h2 {
	text-align: center;
}
.armor-section {
	display: flex;
	justify-content: space-evenly;
}

.armor {
	width: 25%;
}

.weapon-section {
	display: flex;
	justify-content: space-evenly;
}
.weapons {
	width: 25%;
}

.inventory-section {
	display: flex;
	justify-content: space-evenly;
	flex-wrap: wrap;
}

.inventory {
	width: 25%;
}
