@import url('https://fonts.googleapis.com/css2?family=Turret+Road&display=swap');
body {
	background-color: #fea61b !important;
}

.char-list-page {
	font-family: 'Turret Road', cursive;
}
.char-card {
	text-align: center;
	border: 2px #0e0602 solid;
	margin: 0.5rem;
	border-radius: 5%;
	color: #5d2c0a;
	font-family: 'Turret Road', cursive;
}

a {
	text-decoration: none !important;
}

a:visited {
	color: black;
}

a:hover {
	color: white !important;
	border: #5d2c0a 1px solid;
	background-color: #fe7819 !important;
	text-decoration: none !important;
	border-radius: 10%;
}
.char-level-class {
	display: flex;
	justify-content: space-evenly;
}

.char-list {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr;
}

.char-list-buttons {
	display: flex;
	justify-content: center;
}

h1 {
	text-align: center;
	font-family: 'Turret Road', cursive;
	color: #5d2c0a;
}

.hr1 {
	border: 0;
	height: 1px;
	background-image: linear-gradient(to right, rgba(152, 73, 16, 0), rgba(152, 73, 16, 0.75), rgba(152, 73, 16, 0));
}

.char-page {
	font-family: 'Turret Road', cursive;
}

.char-info {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
	text-align: center;
	font-size: 1rem;
	color: #5d2c0a;
}

.att-values {
	color: #5d2c0a;
	font-size: 1.5rem;
	display: flex;
	justify-content: space-around;
}

h2 {
	text-align: center;
	color: #5d2c0a;
}
.armor-section {
	display: flex;
	justify-content: center;
}

.armor {
	width: 25%;
	border: 1px #5d2c0a solid;
	margin: 0.25rem;
	border-radius: 5%;
	background-color: #fe7819;
	color: #5d2c0a;
}

.armor-name {
	text-align: center;
	font-size: 1.5rem;
}

.weapon-section {
	display: flex;
	justify-content: center;
}

.weapons {
	width: 25%;
	border: 1px #5d2c0a solid;
	margin: 0.25rem;
	border-radius: 5%;
	background-color: #fe7819;
	color: #5d2c0a;
}

.weapon-name {
	text-align: center;
	font-size: 1.5rem;
}

.inventory-section {
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
}

.inventory {
	width: 25%;
	border: 1px #5d2c0a solid;
	margin: 0.5rem;
	border-radius: 5%;
	background-color: #fe7819;
	color: #5d2c0a;
}

.inventory-name {
	text-align: center;
	font-size: 1.5rem;
}

@media only screen and (min-device-width: 480px) and (max-device-width: 1024px) {
	.char-list {
		grid-template-columns: 1fr 1fr 1fr;
	}

	.att-values {
		display: grid;
		grid-template-columns: 1fr 1fr;
		text-align: center;
	}

	.armor {
		width: 33%;
		margin: 1%;
	}

	.weapons {
		width: 33%;
		margin: 1%;
	}

	.inventory {
		width: 33%;
		margin: 1%;
	}
}

@media only screen and (max-width: 480px) {
	.char-list {
		grid-template-columns: 1fr 1fr;
	}

	.att-values {
		display: grid;
		grid-template-columns: 1fr 1fr;
		text-align: center;
	}
	.armor-section {
		flex-flow: column wrap;
	}

	.armor {
		width: 80%;
		margin: 2% 10%;
	}
	.weapon-section {
		flex-flow: column wrap;
	}

	.weapons {
		width: 80%;
		margin: 2% 10%;
	}

	.inventory-section {
		flex-flow: column wrap;
	}

	.inventory {
		width: 80%;
		margin: 2% 10%;
	}
}
